*
{
    margin: 0;
    padding: 0;
}
header
{
    position: relative;
    background-color: rgb(141, 204, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.head
{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.head a{
    color: black;
    text-decoration: none;
    padding: 6px;
    background: rgb(230, 230, 230);
    border-radius: 3px;
}

.logo
{
    width: 150px;
    height: 150px;
    background-image:  url("../imgs/logo.png");
    position: absolute;
    background-size: cover;
    top: 0;
    /* margin-top: -1.5%; */
}


.logoback
{
    width: 150px;
}

.main_home
{
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}


.main
{
    
 display: table-column;
 justify-content: center;
 align-items: center;
 
    
}


.main p
{
    display: flex;
    justify-content: center;
}

.main h1
{
    display: flex;
    justify-content: center;
}


.main h2
{
    display: flex;
    justify-content: center;
}
.main h3
{
    display: flex;
    justify-content: center;
}

.tg
{
    border-radius: 50%;
    background-image: url("../imgs/tg.png");
    width: 50px;
    height: 50px;
    
    background-size: cover;
}

.git
{
    border-radius: 50%;
    background-image: url("../imgs/git.png");
    width: 50px;
    height: 50px;
    
    background-size: cover;
}

.social
{
    
    width: 100%s;
    height: 50px;
}

.round a{
    text-decoration: none;
    color: black;
}

.round
{
    display: flex;
    align-items: center;
}

.social h2, .social p
{
    display: flex;
    justify-content: center;
}
.social p
{
    margin-top: 3%;
    
}
.social h2
{
    margin-bottom: 3%;
}

footer{
    height: fit-content;
    
}

.main_about
{
    width: 100%;
    height: 1000px;
    background-color: gray;
   
    display: flex;
}

.description
{
    display: flex;
 
    justify-content: space-between;

}
.left
{
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right
{
    flex: 3;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    
}

.main_about div
{
    width: 100%;
    display: flex;
}

.left box
{
   margin-right: 10%;
    
}

.pictures
{
    height: 1000px;
    background-color: gray;
}

.main_works
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.templeworkcards
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.someworks
{
    display: table-column;
    align-items: center;
    width: 100%;
    
}