*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: rgb(141, 204, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.head
{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.head a{
    color: black;
    text-decoration: none;
    padding: 6px;
    background: rgb(230, 230, 230);
    border-radius: 3px;
}

.logo
{
    width: 150px;
    height: 150px;
    background-image:  url("../imgs/котики.jpg");
    position: absolute;
    background-size: cover;
    margin-left: 23%;
    margin-top: -1.5%;
}


.logoback
{
    width: 150px;
}

main    
{
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}


.main
{
    
 display: table-column;
 justify-content: center;
 align-items: center;
 
    
}


.main p
{
    display: flex;
    justify-content: center;
}

.main h1
{
    display: flex;
    justify-content: center;
}


.main h2
{
    display: flex;
    justify-content: center;
}
.main h3
{
    display: flex;
    justify-content: center;
}

.tg
{
    border-radius: 50%;
    background-image: url("../imgs/tg.png");
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: cover;
}

.git
{
    border-radius: 50%;
    background-image: url("../imgs/git.png");
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: cover;
}

.social
{
    display: flex;
    width: 500px;
    height: 50px;
}

.round a{
    margin-left: 50px;
}

.round
{
    display: flex;
    align-items: center;
}

